@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
body {
  padding: 10px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules", cursive;
  font-size: 100px;
  color: #0ccac4;
}
